body {
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 9px;
  font-size: 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-bottom-left-radius: 50px;
  margin-left: 20px;
}

.nav_rightDiv > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 5px;
}
.nav_rightDiv > ul > li > a {
  text-decoration: none;
  color: black;
}

.goback{
  margin: 20px 40px;
}
.goback * img{
  width: 50px;
  transition: all 0.5ms ease-in;
}
.goback * img:hover{
  width: 55px;
}


.main {
  max-width: 100%;
  height: 77vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  margin: 50px;
}
.big1 {
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.main_div_img {
  min-width: 25%;
  height: fit-content;
  padding-right: 20px;
}
.big2 {
  grid-row: 2/4;
  grid-column: 2/5;
}
.main_div {
  cursor: pointer;
  font-size: 2vb;
  transition: all 0.2s ease-in;
  border: 1px solid black;
  gap: 20px;
  padding: 5px;
}

.main_div > h2 {
  font-size: 10vb;
}
.main_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main_div:hover {
  background-color: rgb(13, 152, 216);
  -webkit-box-shadow: 20px 16px 9px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 20px 16px 9px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 20px 16px 9px 7px rgba(0, 0, 0, 0.75);
}
.main_special1:hover {
  background-color: rgb(13, 152, 216);
  -webkit-box-shadow: -20px 16px 9px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px 16px 9px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -20px 16px 9px 7px rgba(0, 0, 0, 0.75);
}

.main_special2:hover {
  background-color: rgb(13, 152, 216);
  -webkit-box-shadow: -20px -16px 9px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px -16px 9px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -20px -16px 9px 7px rgba(0, 0, 0, 0.75);
}

.main_div:active {
  box-shadow: none;
}
.main_div > a {
  text-decoration: none;
  color: black;
}
.main_div > img {
  width: 100px;
}
@media  screen and (max-width: 700px) {
 .main{
  display: grid;
  grid-template-columns: 1fr;
 } 
 .main_div:hover{
  -webkit-box-shadow: 1px 8px 10px 15px rgba(0,0,0,0.82);
  -moz-box-shadow: 1px 8px 10px 15px rgba(0,0,0,0.82);
  box-shadow: 1px 8px 10px 15px rgba(0,0,0,0.82);
 }
.big1{
  grid-column: auto;
  flex-direction: column;
}
.main_div_img{
  place-self: center;
}
.big2{
  grid-column: auto;
  grid-row: auto;
}

}


.main_values{
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(200px, 1fr) );
   gap: 10px;
}

.div_value {
  border: 1px solid black;
  text-align: center;
  font-size: 5vb;
  height: 90%;
  place-content: center;
  transition: all 0.4s ease-in;
}
.div_value:hover{
border-radius: 20%;
margin: 0px 10px;
}

 .div:hover{
  border-radius: 20px;
}

.main_project{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  place-items: center;
   gap: 10px;
   margin-top: 90px;
   height: 100%;
}
.project{
  height: 100%;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  transition: all 0.1s ease-in;
}
.project:hover{
  transform: rotate(-5deg);
}
.project:active{
  transform: rotate(5deg);
}
.project_img{
  width: 200px;
}






.table{
  border: 1px solid black;
  padding: 10px;
  font-size: large;
}